@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Professor @ViewData["professor"]</p>

<address>
    <strong>Mais Informações:</strong> <a href="http://www.anastaciaseguros.com.br">Anastacia Seguros</a>
    <p>@ViewData["email"]</p>
</address>>